[Desktop Entry]
Version=1.0
Name=Arcana Core
Comment=Connect to the Arcana P2P Network
Comment[de]=Verbinde mit dem Arcana peer-to-peer Netzwerk
Comment[fr]=Arcana, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Arcana, eşten eşe kriptografik sanal para birimi
Exec=arcana-qt %u
Terminal=false
Type=Application
Icon=arcana128
MimeType=x-scheme-handler/arcana;
Categories=Office;Finance;
StartupWMClass=Arcana-qt
