
## <summary>policy for bitcoin</summary>


########################################
## <summary>
##	Transition to arcana.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`arcana_domtrans',`
	gen_require(`
		type arcana_t, arcana_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, arcana_exec_t, arcana_t)
')


########################################
## <summary>
##	Execute bitcoin server in the bitcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`arcana_initrc_domtrans',`
	gen_require(`
		type arcana_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, arcana_initrc_exec_t)
')


########################################
## <summary>
##	Search bitcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`arcana_search_lib',`
	gen_require(`
		type arcana_var_lib_t;
	')

	allow $1 arcana_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`arcana_read_lib_files',`
	gen_require(`
		type arcana_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, arcana_var_lib_t, arcana_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`arcana_manage_lib_files',`
	gen_require(`
		type arcana_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, arcana_var_lib_t, arcana_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`arcana_manage_lib_dirs',`
	gen_require(`
		type arcana_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, arcana_var_lib_t, arcana_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`arcana_admin',`
	gen_require(`
		type arcana_t;
		type arcana_initrc_exec_t;
		type arcana_var_lib_t;
	')

	allow $1 arcana_t:process { ptrace signal_perms };
	ps_process_pattern($1, arcana_t)

	arcana_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 arcana_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, arcana_var_lib_t)

')

