# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit arcanad.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/arcana/arcana.conf

[Unit]
Description=Arcana daemon
After=network.target

[Service]
ExecStart=/usr/bin/arcanad -daemon -conf=/etc/arcana/arcana.conf -pid=/run/arcanad/arcanad.pid
# Creates /run/arcanad owned by arcana
RuntimeDirectory=arcanad
User=arcana
Type=forking
PIDFile=/run/arcanad/arcanad.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
